.week {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.week-day {
  outline: 1px solid #ccc;
  padding: 1rem;
}

.week-day-name {
  font-weight: bold;
}

@media (min-width: 48rem) {
  .week {
    flex-direction: row;
    gap: 0;
  }

  .week-day {
    flex: 1;
  }
}
